[System]
system_home=http://urltohomepage/
system_name=site Name
system_slogan=Just Another Simple Online Catalog
system_theme=default
;System Admin Password in sha1 hash, by Default: sha1("defaultpasswordremembertochangebeforeuncomment")
;Admin area isn't available until you uncomment this, REMEMBER TO CHANGE THE PASSWORD
;you can create the hash in http://www.tools4noobs.com/online_php_functions/sha1/
;system_password=6898b29ffd6d3bc6f9c3c897ae99ad1e06b13138

[Social]
social_display=off
;social_twitter=yourtwitteraccount
;social_facebook=yourfacebookacount

[TopMenu]
top_menu_url[]=index.php
top_menu_name[]=Home

top_menu_url[]=p-about
top_menu_name[]=About

[Pricing]
pricing_currency=USD
pricing_sign="$"

[Logging]
log_file=/log.txt

; web(Design): display error at the bottom of the site
; text(Production): write the errors at the log_file
; both(Development):do both things.
; none: Completely ommits all errors.
log_level=text
