@CHARSET "UTF-8";

body {
	background:black;
	}
.content {
	background: #FFF;
	position:relative;
	width: 970px;
	padding: 10px;
	margin: auto;
}

.header {
	position:relative;
	width: 990px;
	margin:auto;
	color: white;
	background:#333;
	padding: 0px;
}

.header a {
	text-decoration: none;
	color: white;
}

.header h1 {
	font-weight: normal;
	margin: 0px;
	padding: 10px;
	font-size: 50px;
}

.header h2 {
	float:right;
	margin:-30px 10px 0px 0px;
}

.item {
	width: 270px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	text-align:center;
	background:#FFF;
}
.item:hover {
	background:#F5F5F5;
}
.item a {
	color:black;
	text-decoration:none;
	}

.item a:hover img {
	border: 3px solid #333;
	margin: 7px 32px;
}

.item img {
	position:relative;
	width: 200px;
	margin: 10px 35px;
}

.item li {
	margin-left: 10px;
	border:1px solid black;
}
.item h3 {
	margin:5px;
}

.item_detail img {
	float:right;
	margin: -50px 0px 10px 10px;
	
}

.item_detail ul {
	font-size: small;	
}


.footer {
	width: 970px;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	background:white;
	text-align: center;
	font-size: small;
}

.clear {
	clear:both;
}
.message {
	padding: 10px;
	background: #FFFAB7;
	text-align: center;
	}
